---
import { actions } from "astro:actions";
import ArrowLeftIcon from "../../../components/icons/ArrowLeftIcon.astro";
import Input from "../../../components/ui/Input.astro";
import Label from "../../../components/ui/Label.astro";
import Layout from "../../../layouts/Layout.astro";

const { id } = Astro.params;
if (!id) {
  return Astro.redirect('/');
}

const detailsUrlPage = `/app/password/${id}`;

const {data, error} = await actions.getPasswordById(id);
if (!data && error) {
  return Astro.redirect("/");
}
---

<Layout title="Password Manager">
  <main class="mx-auto max-w-[600px]">
    <section class="flex gap-x-3 items-center mb-4">
      <a href={detailsUrlPage} class="hover:bg-slate-700 p-2 rounded-full">
        <ArrowLeftIcon />
      </a>

      <h1>{data.url}</h1>
    </section>
    <section class="bg-zinc-800 rounded-md p-6">
      <form action={`/api/passwords/${id}`} method="post">
        <div
          class="border-b border-b-zinc-600 mb-6 pb-6 grid grid-cols-2 gap-6"
        >
          <div>
            <Label label="Usuario" forInput="username" />
            <Input
              type="text"
              id="username"
              name="username"
              value={data.username}
            />
          </div>
          <div>
            <Label label="Sitio Web" forInput="url" />
            <Input type="text" id="url" name="url" value={data.url} />
          </div>
          <div class="relative">
            <div class="relative">
              <Label forInput="password" label="Contraseña" />
              <Input
                type="password"
                id="password"
                name="password"
                value={data.password}
              />
            </div>
            <div class="absolute bottom-2 right-2 flex items-center gap-x-2">
              <button type="button" class="text-sm" id="showPasswordBtn"
                >Mostrar</button
              >
            </div>
          </div>
          <div>
            <Label label="Nota" forInput="note" />
            <Input type="text" id="note" name="note" value={data.note} />
          </div>
        </div>
        <div class="flex gap-x-2 justify-end">
          <a
            class="bg-zinc-800 hover:bg-red-800 hover:text-white text-red-400 py-2 px-4 rounded-md font-medium text-sm"
            href={detailsUrlPage}>Cancelar</a
          >
          <button
            class="bg-sky-700 hover:bg-sky-600 text-white py-2 px-4 rounded-md font-medium text-sm"
            type="submit">Guardar</button
          >
        </div>
      </form>
    </section>
  </main>
</Layout>

<script>
  const passwordInput = document.getElementById("password") as HTMLInputElement;
  const showPasswordBtn = document.getElementById(
    "showPasswordBtn"
  ) as HTMLButtonElement;

  showPasswordBtn.addEventListener("click", () => {
    const type = passwordInput.type;
    const label = showPasswordBtn.textContent;

    passwordInput.type = type == "text" ? "password" : "text";
    showPasswordBtn.textContent = label == "Mostrar" ? "Ocultar" : "Mostrar";
  });
</script>
