---
import ChevronRightIcon from "./icons/ChevronRightIcon.astro";
import type { Password } from "../lib/interfaces/password";

interface Props {
  item: Password;
}

const { item } = Astro.props;
const itemPath = `${Astro.url}/${item.id}`;
---

<a
  class="flex justify-between items-center border-b border-b-gray-600 py-3 px-2 cursor-pointer pass-wrapper hover:bg-zinc-800"
  href={itemPath}
>
  <div>
    <p class="text-base">{item.url}</p>
    <p class="text-gray-400 text-sm">{item.username}</p>
  </div>
  <ChevronRightIcon />
</a>
